/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: #f4ebdb;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", Helvetica, sans-serif;
}
h1 {
  color: #79272f;
  font-size: 10rem;
  font-weight: 400;
  letter-spacing: -9px;
}
p {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 1.6rem;
}
a {
  font-family: "Lato", Helvetica, sans-serif;
}
img {
  height: auto;
  max-width: 100%;
}
.container {
  height: 100vh;
  margin: 0 auto;
  max-width: 1100px;
  position: relative;
  width: 100%;
}
footer {
  bottom: 0;
  position: fixed;
}
footer p {
  color: #ecdcbf;
  font-size: 1rem;
}
footer p a {
  color: #ecdcbf;
  cursor: default;
  text-decoration: none;
}
main {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
main header {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8vh;
  width: 100%;
}
main header .img__container {
  height: auto;
  width: 250px;
}
main header h1 {
  display: inline-block;
  margin: 0 0.5% 0 0.8%;
}
main .home__timer {
  margin: 14vh 0 15vh 0;
}
main .home__timer .timer__text {
  font-size: 4rem;
  font-weight: 500;
}
main .home__buttons {
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
main .home__buttons .btn {
  background: #79272f;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  color: #f1ebdd;
  font-size: 1.6rem;
  padding: 14px 0;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  margin: 0 0.5%;
  width: 158px;
}
main .home__buttons .btn:hover {
  background: #f1ebdd;
  border: 1px solid #6c1814;
  color: #79272f;
  -webkit-animation: fade-in 0.2s ease-in 1 normal;
  -moz-animation: fade-in 0.2s ease-in 1 normal;
  animation: fade-in 0.2s ease-in 1 normal;
}
@-moz-keyframes fade-in {
  0% {
    background: #79272f;
    color: #f1ebdd;
    border: 1px solid #6c1814;
  }
  100% {
    background: #f1ebdd;
    color: #79272f;
  }
}
@-webkit-keyframes fade-in {
  0% {
    background: #79272f;
    color: #f1ebdd;
    border: 1px solid #6c1814;
  }
  100% {
    background: #f1ebdd;
    color: #79272f;
  }
}
@keyframes fade-in {
  0% {
    background: #79272f;
    color: #f1ebdd;
    border: 1px solid #6c1814;
  }
  100% {
    background: #f1ebdd;
    color: #79272f;
  }
}
main .home__buttons .btn:active {
  background: #efe6b5;
}
main .home__buttons .btn:focus {
  outline: 0;
}
