* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: @body-bg;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 1.6rem;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
