main {
  width: 100%;
  .center(column, flex-start, center, wrap);

  header {
    .center(row, center, flex-end, wrap);
    margin-top: 8vh;
    width: 100%;

    .img__container {
      height: auto;
      width: 250px;
    }

    h1 {
      display: inline-block;
      margin: 0 0.5% 0 0.8%;
    }
  }

  .home__timer {
    margin: 14vh 0 15vh 0;

    .timer__text {
      font-size: 4rem;
      font-weight: 500;
    }
  }

  .home__buttons {
    width: 100%;
    .center(row, center, flex-start, wrap);

    .btn {
      .btn-template();
      cursor: pointer;
      font-weight: 500;
      margin: 0 0.5%;
      width: 158px;

      &:hover {
        background: @hover-bg;
        border: 1px solid @hover-border;
        color: @hover-color;

        .keyframes(
          fade-in;{0% {background: @button-bg; color: @button-color; border: 1px
            solid @hover-border;} 100% {background: @hover-bg; color: @hover-color;}}
        );

        .animation(fade-in 0.2s ease-in 1 normal);
      }

      &:active {
        background: lighten(@active-bg, 3%);
      }

      &:focus {
        outline: 0;
      }
    }
  }
}
