// Color assignments
@body-bg: @almond;
@h1-color: @crown-of-thorns;

// Colors
// Names are pulled from http://chir.ag/projects/name-that-color/#FFFFFF
@crown-of-thorns: #79272f;
@moccaccino: #6c1814;
@mongoose: #ba987e;
@ecru-white: #f1ebdd;
@almond: #eee0c7;

// Other variables
@tablet: ~"(max-width: 800px)";
@mobile: ~"(max-width: 500px)";
